/* 31.12.2021 */
body {
  color: #fff;
  font-family: "Roboto", sans-serif;
  background: url(../image/6201596-1396169010.jpg);
  background-repeat: no-repeat;
  background-size: cover;

  height: 100vh;
  margin: 0;
}
* {
  box-sizing: border-box;
  /* */
}
.tom {
  padding: 20px;
  /* text-align: center; خط في المنتصف */
  /* جعل الصندوق في المنتصف */
  position: absolute; /* عام في الهواء */
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;

  /* background-color: rgb(255 255 255 / 25%); */
  width: 400px;
  background-color: #0000004d;
  box-shadow: 0px 0px 9px 2px rgb(255 255 255 / 70%);
}
@media (max-width: 767px) {
  /* في حالة فتح الموقع علي الهاتف يقوم بعمل التالي في هذا العناصر*/
  .tom {
    width: 80%;
  }
}
.ai {
  margin-right: 20px;
  display: inline-block;
  text-decoration: none;
  color: #fff;
}
.si {
  border-bottom: 2px #e91e63 solid;
  padding-bottom: 5px;
  margin-right: 20px;
  display: inline-block;
  text-decoration: none;
  color: #fff;
}

.use,
.ema,
.pas {
  padding: 15px 0;
}

input {
  width: 100%;
  background-color: transparent;
  outline: none;
  border: none;
  border-bottom: #eee 2px solid;
  padding: 10px 0;
  color: white;
  transition: 0.5s; /* يعني يعمل الحدث دي في زمن 0.5 ثانيه */
}
input:hover {
  /* في حالة تحريك الماوس علي هذا العنصر يعمل التالي */
  border-bottom: #e91e62 2px solid;
}
::placeholder {
  color: #eee;
}
.an {
  margin-top: 20px;
}
.an input {
  width: fit-content;
}
.reg {
  border: none;
  width: 70%;
  background-color: #e91e6382;
  margin: 15px auto;
  margin-top: 40px;
  display: block;
  border-radius: 50px;
  transition: 0.5s; /* يعني يعمل الحدث دي في زمن 0.5 ثانيه */
  margin-bottom: 30px;
  border-bottom: none;
}
.reg:hover {
  /* في حالة تحريك الماوس علي هذا العنصر يعمل التالي */
  background-color: #e91e62;
  box-shadow: 0px 0px 7px 2px #e91e62;
  border-bottom: none;
}
