/* 31.12.2021 */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
section {
  color: #fff;
  font-family: "Roboto", sans-serif;
  background: url(../image/6201596-1396169010.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  background-position: center;
}
.Box {
  padding: 20px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: 400px;
  background-color: #0000004d;
  box-shadow: 0px 0px 9px 2px rgb(255 255 255 / 70%);
}
@media (max-width: 767px) {
  .Box {
    width: 80%;
  }
}
section .Box .link .ai {
  margin-right: 20px;
  display: inline-block;
  text-decoration: none;
  color: #fff;
}
section .Box .link .si {
  border-bottom: 2px #e91e63 solid;
  padding-bottom: 5px;
  margin-right: 20px;
  display: inline-block;
  text-decoration: none;
  color: #fff;
}
.Username,
.Email,
.Password {
  padding: 15px 0;
  caret-color: #e91e62;
}
section .Box form input {
  width: 100%;
  background-color: transparent;
  outline: none;
  border: none;
  border-bottom: #eee 2px solid;
  padding: 10px 0;
  color: white;
  transition: 0.5s;
}
section .Box form input:hover {
  border-bottom: #e91e62 2px solid;
}
::placeholder {
  color: #eee;
}
section .Box form .Checkbox {
  margin-top: 20px;
}
section .Box form .Checkbox input {
  width: fit-content;
}
section .Box form .button {
  border: none;
  width: 70%;
  background-color: #e91e6382;
  margin: 15px auto;
  margin-top: 40px;
  display: block;
  border-radius: 50px;
  transition: 0.5s;
  margin-bottom: 30px;
  border-bottom: none;
}
section .Box form .button:hover {
  background-color: #e91e62;
  box-shadow: 0px 0px 7px 2px #e91e62;
  border-bottom: none;
}
